table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
}
th, td {
    width: 250px;
    height: 150px;
}
.tic-tac-toe-table tr:first-child th {
    border-top: none;
}

.tic-tac-toe-table {
    margin-left:auto;
    margin-right:auto;
}

.x-colour {
    color:darkred;
}

.o-colour {
    color:darkblue;
}

button {
    height:100px;
    width:150px;
    border-radius: 50px;
    cursor:pointer;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
#x-button {
  background-color: darkred;
}
#o-button {
  background-color: darkblue;
}